<!DOCTYPE html>
<html>

<head>
    <title>Minute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>Minute</h1>
        </header>
        <main>
            <div v-if="pages['login']" class="container-fluid">
                <div class="jumbotron jumbotron-fluid text-center" style="background-color: black;">
                    <h1>MINUTES<sup><small>TM</small></sup></h1>
                    <p><em>Minutes of Entertainment!</em></p>
                    <div class="form-group text-center">
                        <input class="col-4 mx-auto form-control" type="text" name="username" v-model="input.username"
                            placeholder="Username" />
                        <input class="col-4 mx-auto form-control" type="password" name="password"
                            v-model="input.password" placeholder="Password" />
                        <button class="col-4 btn btn-outline-success" type="button" v-on:click="login()">Login</button>
                    </div>
                    <!-- <div v-else class="text-center">
                        <button type="button" class="btn btn-outline-primary" v-on:click="fetchVideos()">Get
                            Watching!</button>
                    </div> -->
                </div>
            </div>

            <div v-if="pages['home']" class="Home-page">
                <div v-if="pages['home']" class="horizontal-container">
                    <button class="image-button" @click="playVideo()">
                        <img src="/static/resources/icons/left_arrow.png" alt="Image 1" width="20%">
                    </button>
                    <div id="video-player">
                        <video controls :src="currentVideo.src"></video>
                    </div>
                    <button class="image-button" @click="playVideo()">
                        <img src="/static/resources/icons/right_arrow.png" alt="Image 1" width="20%">
                    </button>
                </div>
                <div class="like-button">
                    <div class="heart-bg">
                        <div class="heart-icon" :class="{ 'liked': isLiked }" @click="toggleLike"></div>
                    </div>
                    <div class="likes-amount">7</div>
                </div>
            </div>

            <div v-if="pages['profile']" class="User-profile">
                <div class="user-profile">
                    <div class="profile-header">
                        <img class="profile-picture" :src="user.profilePicture" alt="Profile Picture">
                        <div class="profile-info">
                            <h1>{{ input.username }}</h1>
                            <p>{{ user.bio }}</p>
                            <!-- <button class="follow-button">{{ user.followers }} Followers</button> -->
                        </div>
                    </div>
                    <div class="video-grid">
                        <div v-for="video in user.videos" :key="video.idVideo" class="video-card">
                            <p></p>
                            <p></p>
                            <p></p>
                            <div class="video-info">
                                <h2>{{ video.videoTitle }}</h2>
                                <p>{{ video.videoDescription }}</p>
                            </div>
                            <video width="400" controls>
                                <source :src="video.videoPath" type="video/webm">
                            </video>
                            <div class="like-button">
                                <div class="heart-bg">
                                    <div class="heart-icon" :class="{ 'liked': likedVideoIds.includes(video.idVideo) }" @click="toggleLike(video.idVideo)"></div>
                                </div>
                                <div class="likes-amount">{{ likeCounts[video.idVideo] }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="pages['upload']" class="upload-video">
                <form class="upload-video-form">
                    <div>
                        <label for="videoTitle">Title:</label>
                        <input style="margin-left: 99px;" type="text" id="videoTitle" v-model="videoToUpload['title']">
                    </div>
                    <div>
                        <label style="color: white;" for="videoDescription">Description:</label>
                        <textarea style="margin-left: 30px;" id="videoDescription"
                            v-model="videoToUpload['description']"></textarea>
                    </div>
                    <div>
                        <label for="videoUpload">Upload Video:</label>
                        <input accept="video/webm" style="margin-left: 20px;" type="file" id="videoUpload"
                            @change="handleFileUpload">
                    </div>
                    <div>
                        <button @click.prevent="uploadVideo">Submit</button>
                    </div>
                </form>
            </div>
        </main>

        <!-- Menu Bar -->
        <div v-if="!pages['login']" class="menu-bar">
            <ul>
                <li @click="getHome"><a href="#">Home</a></li>
                <!-- <li><a href="#">Trending</a></li> -->
                <!-- <li><a href="#">Discover</a></li> -->
                <li><a href="#">Liked</a></li>
                <li @click="getProfile(input.username)"><a href="#">Profile</a></li>
                <li @click="getUpload"><a href="#">Upload</a></li>
                <li @click="logout"><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
    <script src="/static/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>